
 {{>header}}
 <div class="container">
     {{>navbar}}
     <table class="table table-dark">
    <div class="row">
        <div class="col-md-12">
            <thead>
        <tr>
            <th scope="col">product Id</th>
            <th scope="col">Product Name</th>
            <th scope="col">product details</th>
            <th scope="col"> price</th>
            <th scope="col">Action</th>
            <th></th>   
        </tr>
    </thead>
        </div>
    </div> 
    <tbody>
        {{#each productmodel}}
         <tr>
             <td>{{this._id}}</td>
             <td>{{this.product}}</td>
             <td>{{this.details}}</td>
             <td>{{this.price}}</td>
             <td>
               <a href="/edit/{{this._id}}">|<i class="fa fa-wrench" aria-hidden="true">|</i></a>
               <a href="{{this._id}}">|<i class="fa fa-trash" aria-hidden="true">|</i></a>
             </td>
         </tr>
        {{/each}}
    </tbody> 
     </table>
</div>   
